Repository eykd/prestoplot: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff-check, ruff-format, pytest-check

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system

pytest-check:
  name: pytest-check
  entry: uv run pytest
  language: system
  pass_filenames: false

chore: delint
  src/prestoplot/cli.py
  src/prestoplot/db.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: reformat w/ single ruff quotes
  pyproject.toml
  src/prestoplot/__init__.py
  src/prestoplot/cli.py
  src/prestoplot/db.py
  src/prestoplot/grammars.py
  src/prestoplot/http.py
  src/prestoplot/markov.py
  src/prestoplot/seeds.py
  src/prestoplot/storages.py
  src/prestoplot/story.py
  src/prestoplot/texts.py
  tests/test_markov.py
  tests/test_storages.py
  tests/test_story.py
  tests/test_texts.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: ruff check --fix
  src/prestoplot/cli.py
  src/prestoplot/db.py
  src/prestoplot/grammars.py
  src/prestoplot/http.py
  src/prestoplot/markov.py
  src/prestoplot/seeds.py
  src/prestoplot/texts.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: add CLAUDE.md
  CLAUDE.md
Due: none

docs: add comprehensive docstrings to all modules
  src/prestoplot/__init__.py
  src/prestoplot/cli.py
  src/prestoplot/contexts.py
  src/prestoplot/db.py
  src/prestoplot/grammars.py
  src/prestoplot/http.py
  src/prestoplot/markov.py
  src/prestoplot/seeds.py
  src/prestoplot/storages.py
  src/prestoplot/story.py
  src/prestoplot/texts.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: add claude config
  .claude/settings.json
Due: none

chore: fix watchtests.sh
  watchtests.sh
Due: none

chore: run linters before tests
  runtests.sh
Due: none

feat: add implementation for ratchet pick method
  src/prestoplot/db.py
  tests/data/test_ratchet.yaml
  tests/test_db.py
  tests/test_ratchet_integration.py
  tests/test_storages.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: drop support for python<3.11
  pyproject.toml
  tox.ini
  uv.lock
Due: uv-lock, pytest-check

chore: add type annotations to tests
  tests/test_db.py
  tests/test_markov.py
  tests/test_ratchet_integration.py
  tests/test_storages.py
  tests/test_story.py
  tests/test_texts.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: add type annotations
  pyproject.toml
  src/prestoplot/cli.py
  src/prestoplot/contexts.py
  src/prestoplot/grammars.py
  src/prestoplot/http.py
  src/prestoplot/markov.py
  src/prestoplot/seeds.py
  src/prestoplot/storages.py
  src/prestoplot/story.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: add more type annotations
  src/prestoplot/db.py
  src/prestoplot/texts.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: fix lint errors
  pyproject.toml
  runtests.sh
  src/prestoplot/cli.py
  src/prestoplot/contexts.py
  src/prestoplot/db.py
  src/prestoplot/grammars.py
  src/prestoplot/http.py
  src/prestoplot/markov.py
  src/prestoplot/seeds.py
  src/prestoplot/storages.py
  src/prestoplot/story.py
  src/prestoplot/texts.py
  tests/test_storages.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: fix dynamic versioning
  pyproject.toml
Due: uv-lock, pytest-check

fix: update Github actions to use new python versions
  .github/workflows/tests.yaml
Due: none

fix: correct uv setup in github action
  .github/workflows/tests.yaml
Due: none

fix: turn on coverage when running tests
  .github/workflows/tests.yaml
Due: none

fix: remove pre-commit, add lint to regular test run
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

chore: update CLAUDE.md with better conventions
  CLAUDE.md
Due: none

chore: tailor coverage skip
  pyproject.toml
  src/prestoplot/__init__.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: improve CLAUDE.md for test style
  CLAUDE.md
Due: none

chore: add convention for grouping tests in classes
  CLAUDE.md
Due: none

chore: add claude local settings
  .claude/settings.local.json
Due: none

test: organize tests/test_texts.py into test classes
  tests/test_texts.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

tests: improve test coverage for prestoplot.db
  pyproject.toml
  src/prestoplot/db.py
  src/prestoplot/texts.py
  tests/test_db.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

chore: update claude settings
  .claude/settings.local.json
Due: none

tests: increase coverage of prestoplot.grammars
  src/prestoplot/grammars.py
  tests/test_grammars.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

test: add comprehensive tests for prestoplot.seeds module
  tests/test_seeds.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

fix: improve storages error handling and expand test coverage
  src/prestoplot/storages.py
  tests/test_storages.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

test: add comprehensive tests for prestoplot.markov module
  src/prestoplot/markov.py
  tests/test_markov.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

test: add comprehensive tests for prestoplot.cli module
  src/prestoplot/cli.py
  tests/test_cli.py
Due: uv-lock, ruff-check, ruff-format, pytest-check

Path conditions:
  uv-lock: any of: \.py$, \.toml$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  pytest-check: any of: \.py$, \.toml$
